@import "_config.scss";

Header {
  position: relative;
  display: block;
  width: 100%;
  background: $darkGrey;
  color: $white;
  height: 90px;
  text-decoration: none;

  .logo {
    position: absolute;
    top: 50%;
    left: 50px;
    @include translateY(-50%);
  }

  nav,
  nav ul,
  nav ul li {
    margin: 0;
    padding: 0;
  }

  nav {
    position: absolute;
    top: 50%;
    right: 15px;
    @include translateY(-50%);

    ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 15px;

      &.last {
        margin: 0;
        text-decoration: none;
      }

      a {
        font-size: 19px;
        line-height: normal;
        color: $white;
      }
    }
  }
}

.Homepage {
  .jumbotron {
    height: 100%;
    width: 100%;
    background-image: url("../images/buttons.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0;
    color: $white;
  }

  .shadowPanel {
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(14,14,14,0.9);
    padding: 25px;
  }
}

.Projects {
  .jumbotron {
    height: 100%;
    width: 100%;
    background-image: url("../images/yarn.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0;
    color: $white;
  }

  .shadowPanel {
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(14,14,14,0.9);
    padding: 25px;
  }
  .card-img-top {
  width: 100%;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  display: block;
  }

  .img {
  vertical-align: middle;
  border-style: none;
  display: block;
  }

  div {
      display: block;
  }

  .row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
  }
  .container {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
  }


.col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.projectsBgd {
  background-color: $lightGrey;
  padding: 45px;
}

// .fa-thumbtack{
//   height: 15px;
//   width: 15px;
//   color: #a2f241;
//   margin-left: 10px;
// }
// .fa-pinterest-square {
//   height: 15;
//   width: 15px;
//   color: #a2f241;
//   margin-left: 10px;
//
// }

  }


.footer {
  width: 100%;
  height: 80px;
  background-color: $darkGrey;
  text-align: center;

  style {
  height: 100% auto;
  width: 100% auto;
  display: block;
  }

}
