@import "_config.scss";

Header {
  position: relative;
  // display: block;
  width: 100%;
  background: $white;
  color: $darkGrey;
  height: 90px;
  text-decoration: none;

  .logo {
    position: absolute;
    height: auto;
    width: 15px;
    top: 50%;
    left: 50px;
    @include translateY(-50%);
  }

  nav,
  nav ul,
  nav ul li {
    margin: 0;
    padding: 0;
  }

  nav {
    position: absolute;
    top: 50%;
    right: 15px;
    @include translateY(-50%);

    ul li {
      list-style-type: none;
      display: inline-block;
      margin-right: 15px;

      &.last {
        margin: 0;
        text-decoration: none;
      }

      a {
        font-size: 19px;
        line-height: normal;
        color: $darkGrey;
      }
    }
  }
}

.Homepage {
  .jumbotron {
    height: 620px;
    width: 100%;
    background-image: url("../images/pokieLanding.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
    color: $white;
  }

  // .shadowPanel {
  //   background-color: rgba(0,0,0,0.5);
  //   box-shadow: 0 0 10px rgba(14,14,14,0.9);
  //   padding: 25px;
  // }
}

.Projects {
  .jumbotron {
    height: 620px;
    width: 100%;
    background-image: url("../images/pokieLanding.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 0;
    color: $white;
  }

  // .shadowPanel {
  //   background-color: rgba(0,0,0,0.5);
  //   box-shadow: 0 0 10px rgba(14,14,14,0.9);
  //   padding: 25px;
  // }
  .card-img-top {
  width: 100%;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
  display: block;
  }

  .img {
  vertical-align: middle;
  border-style: none;
  display: block;
  }

  div {
      display: block;
  }

  .row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
  }
  .container {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
  }


.col-md-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.projectsBgd {
  background-color: $lightGrey;
  padding: 45px;
}

// .fa-thumbtack{
//   height: 15px;
//   width: 15px;
//   color: #a2f241;
//   margin-left: 10px;
// }
// .fa-pinterest-square {
//   height: 15;
//   width: 15px;
//   color: #a2f241;
//   margin-left: 10px;
//
// }

body{
			font: 1rem/1.6 "Helvetica", Sans-serif;
		}

		main{
			width: 90%;
			margin:50px auto;

			-moz-column-width: 220px;
			-webkit-column-width: 220px;
			column-width: 220px;

			-moz-column-count: 3;
			-webkit-column-count: 3;
			column-count: 3;

			-moz-column-gap: 20px;
			-webkit-column-gap: 20px;
			column-gap: 20px;

		}

		a[title] figure img{
			width: 100%;
			height: auto;
			margin-top:1rem;
		}

		main a[title]{
			text-decoration: none;
			padding: 1rem;
			color:#424242;
			box-shadow: 0 1px 3px rgba(0,0,0, .12), 0 1px 2px rgba(0,0,0, .24);
			display: inline-block;

			margin-bottom:20px;

			transition: all .3s cubic-bezier(0.25, .8, .25, 1);
		}

		main:hover a[title]:not(:hover){
			opacity: .6;
		}

		a[title]:hover{
			box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .20);

		}


  }


.footer {
  width: 100%;
  height: 80px;
  background-color: $darkGrey;
  text-align: center;

  style {
  height: 100% auto;
  width: 100% auto;
  display: block;
  }

}
