nav
   {
    font-size: 100%;
    font-family: "Helvetica", sans-serif;
    margin: 0;
    padding: 0;
  }

  nav,
  ul {
    list-style: none;
    padding: 0;
    background: #fff;
  }

  a,
  li,
  nav,
  ul {
    color: #DF5D00;
    text-decoration: none;
    padding: 0.8rem 1rem;
    display: block;
    line-height: 100%;
  }

  li,
  nav,
  ul {
    border-bottom: 1px dotted #ddd;
  }

  .logo {
    height: 200px;
    width: auto;
    margin: -80px;
    padding-left: 20px;
    padding-top: 10px;
  }

  nav div:first-child {
    background: #fff;
  }

  nav div:first-child h1 {
    line-height: 0;
    padding: 0.8rem 0;
    text-align: center;
  }

  nav div:first-child img {
    /*filter: contrast(100);*/
  }

  nav,
  nav div:first-child h1,
  ul {
    margin: 0;
  }
  /*Styling for larger screens/devices*/
  @media only screen and (min-width: 30em) {
    nav {
      display: flex;
      justify-content: space-between;
    }

    nav,
    ul {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }

    nav div:first-child h1 {
      padding: 0;
    }

    li,
    nav,
    ul {
      border-bottom: none;
      flex: 0 0 auto;
    }

    a
    li
    nav
    ul {
      padding: 0.5rem 1rem;
    }

    li {
      padding: 2px;
      font-weight: bold;
    }
  }
